In [45]:
from datetime import datetime, timedelta
from backtesting import Backtest, Strategy
import pandas as pd
import ta
import numpy as np
import ta
from binance.client import Client
import ccxt
import mplfinance as mpf
import numpy as np
from math import floor
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import config

client = Client(config.api_key, config.api_secret)
# Create Binance client instance
# exchange = ccxt.binance({
#     'apiKey': config.api_key,
#     'secret': config.api_secret,
# })

In [46]:
def get_candle_1m_after(time):
    start = str(time)
    end = str(time + timedelta(hours=5))
    df = pd.DataFrame(client.get_historical_klines(symbol="BNBUSDT", interval='1m', start_str=start, end_str=end))
    df = df.iloc[:, :5]
    df.columns = ['time', 'open', 'high', 'low', 'close']
    df = df.set_index('time')
    df.index = pd.to_datetime(df.index, unit='ms')
    df = df.astype(float)
    return df

def get_candle_1h_before(time):
    start = str(time - timedelta(hours=5))
    end = str(time)
    df = pd.DataFrame(client.get_historical_klines(symbol="BNBUSDT", interval='1h', start_str=start, end_str=end))
    df = df.iloc[:, :5]
    df.columns = ['time', 'open', 'high', 'low', 'close']
    df = df.set_index('time')
    df.index = pd.to_datetime(df.index, unit='ms')
    df = df.astype(float)
    return df

In [63]:
def get_macd(price, slow, fast, smooth):
    exp1 = price.ewm(span = fast, adjust = False).mean()
    exp2 = price.ewm(span = slow, adjust = False).mean()
    macd = pd.DataFrame(exp1 - exp2).rename(columns = {'close':'macd'})
    signal = pd.DataFrame(macd.ewm(span = smooth, adjust = False).mean()).rename(columns = {'macd':'signal'})
    hist = pd.DataFrame(macd['macd'] - signal['signal']).rename(columns = {0:'hist'})
    frames =  [macd, signal, hist]
    df = pd.concat(frames, join = 'inner', axis = 1)
    return df

In [136]:
def get_data(symbol, interval='1h'):
    df = pd.DataFrame(client.get_historical_klines(symbol=symbol, interval=interval))
    df = df.iloc[:, :5]
    df.columns = ['time', 'open', 'high', 'low', 'close']
    df = df.astype(float)
    df.time = pd.to_datetime(df.time, unit='ms')
    mac = get_macd(df['close'], 26, 12, 9)
    ret = pd.concat([df, mac], join = 'inner', axis = 1)
    return ret

In [111]:
def get_signal(data):
    buy_price = []
    macd_signal = []

    for i in range(len(data)):
        try:
            if data['macd'][i-1] < data['signal'][i-1]:
                if data['macd'][i] > data['signal'][i]:
                    buy_price.append(data.iloc[i].close)
                    macd_signal.append(1)
                else:
                    buy_price.append(np.nan)
                    macd_signal.append(0)
            else:
                buy_price.append(np.nan)
                macd_signal.append(0)
        except:
                buy_price.append(np.nan)
                macd_signal.append(0)
    return pd.DataFrame({"buy_price": buy_price, "macd_signal": macd_signal})

In [131]:
def implement_macd_strategy(prices, data):
    buy_price = []
    sell_price = []
    macd_signal = []
    signal = 0

    for i in range(len(data)):
        if data['macd'][i] > data['signal'][i]:
            if signal != 1:
                buy_price.append(prices[i])
                sell_price.append(np.nan)
                signal = 1
                macd_signal.append(signal)
            else:
                buy_price.append(np.nan)
                sell_price.append(np.nan)
                macd_signal.append(0)
        elif data['macd'][i] < data['signal'][i]:
            if signal != -1:
                buy_price.append(np.nan)
                sell_price.append(prices[i])
                signal = -1
                macd_signal.append(signal)
            else:
                buy_price.append(np.nan)
                sell_price.append(np.nan)
                macd_signal.append(0)
        else:
            buy_price.append(np.nan)
            sell_price.append(np.nan)
            macd_signal.append(0)

    return pd.DataFrame( {'buy_price': buy_price, 'sell_price':sell_price, 'macd_signal':macd_signal} )

# buy_price, sell_price, macd_signal = implement_macd_strategy(googl['close'], googl_macd)

In [137]:
df = get_data('BNBUSDT')
# signal = get_signal(df)
# signal[signal['macd_signal'] == 1]
# sig = implement_macd_strategy(df['close'], df)
# sig

In [138]:
df

,time,open,high,low,close,macd,signal,hist
0,2023-03-21 15:00:00,335.2,337.9,335.0,337.7,0.000000,0.000000,0.000000
1,2023-03-21 16:00:00,337.8,339.9,336.9,337.5,-0.015954,-0.003191,-0.012764
2,2023-03-21 17:00:00,337.5,338.6,336.1,336.4,-0.116022,-0.025757,-0.090265
3,2023-03-21 18:00:00,336.4,337.5,335.0,337.2,-0.129282,-0.046462,-0.082820
4,2023-03-21 19:00:00,337.1,338.5,336.8,337.9,-0.082358,-0.053641,-0.028717
...,...,...,...,...,...,...,...,...
995,2023-05-02 03:00:00,326.4,326.4,325.2,325.8,-1.364031,-0.734339,-0.629691
996,2023-05-02 04:00:00,325.7,325.8,323.8,324.1,-1.587550,-0.904982,-0.682568
997,2023-05-02 05:00:00,324.0,324.6,322.9,324.6,-1.704694,-1.064924,-0.639770
998,2023-05-02 06:00:00,324.5,324.8,323.5,324.0,-1.824910,-1.216921,-0.607989
999,2023-05-02 07:00:00,324.0,324.8,323.5,324.3,-1.874368,-1.348411,-0.525958

In [206]:
for x in range(len(df)):
    if signal.iloc[x].macd_signal == 1:
        before = get_candle_1h_before(df.iloc[x].name)
        print(before)
        break

                      Open   High    Low  Close
Time
2023-04-29 19:00:00  322.0  323.1  321.9  322.9
2023-04-29 20:00:00  322.9  322.9  321.9  322.2
2023-04-29 21:00:00  322.3  322.5  321.7  322.0
2023-04-29 22:00:00  322.0  322.6  321.7  322.3
2023-04-29 23:00:00  322.3  322.4  321.4  321.9
2023-04-30 00:00:00  321.9  321.9  320.8  321.0

In [119]:
result = pd.concat([df, macd, signal], axis=1)
result = result[['timestamp', 'open', 'high', 'low', 'close', 'volume', 'macd', 'signal', 'hist', 'buy_price', 'sell_price', 'macd_signal']]
result = result.iloc[:, 1:]
result.timestamp = pd.to_datetime(result.timestamp)
result.iloc[:10 : -1]

,timestamp,open,high,low,close,volume,macd,signal,hist,buy_price,sell_price,macd_signal
999,2023-04-30 11:00:00,322.2,322.4,321.6,321.7,3014.644,-0.337669,-0.463755,0.126086,NaN,NaN,0
998,2023-04-30 10:00:00,322.1,322.6,321.7,322.2,6509.091,-0.343461,-0.495277,0.151816,NaN,NaN,0
997,2023-04-30 09:00:00,322.1,322.3,321.7,322.1,4611.320,-0.396768,-0.533230,0.136463,NaN,NaN,0
996,2023-04-30 08:00:00,321.5,322.4,321.5,322.0,4693.970,-0.448853,-0.567346,0.118493,NaN,NaN,0
995,2023-04-30 07:00:00,322.1,322.4,321.5,321.6,5910.864,-0.498623,-0.596969,0.098347,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15,2023-03-20 10:00:00,337.3,338.7,336.5,337.3,19655.626,-0.798160,-1.019320,0.221160,NaN,NaN,0
14,2023-03-20 09:00:00,337.6,338.2,335.9,337.4,20436.360,-0.961057,-1.074610,0.113553,337.4,NaN,1
13,2023-03-20 08:00:00,334.7,338.2,334.2,337.6,39552.105,-1.165175,-1.102998,-0.062177,NaN,NaN,0
12,2023-03-20 07:00:00,333.5,335.8,333.5,334.7,42475.501,-1.429120,-1.087454,-0.341666,NaN,NaN,0
11,2023-03-20 06:00:00,334.3,335.5,332.8,333.5,13011.870,-1.449949,-1.002038,-0.447911,NaN,NaN,0

In [120]:
signals = result[result['macd_signal'] == 1]
signals.iloc[: :-1]

,timestamp,open,high,low,close,volume,macd,signal,hist,buy_price,sell_price,macd_signal
993,2023-04-30 05:00:00,321.9,322.3,321.7,322.3,4087.009,-0.577437,-0.648403,0.070966,322.3,NaN,1
957,2023-04-28 17:00:00,322.6,322.7,321.8,322.3,9173.150,-2.582274,-2.626530,0.044256,322.3,NaN,1
931,2023-04-27 15:00:00,330.4,333.7,329.3,331.8,39271.450,-1.423026,-1.446827,0.023801,331.8,NaN,1
904,2023-04-26 12:00:00,338.2,345.0,338.1,344.6,76243.163,2.101270,1.813964,0.287306,344.6,NaN,1
883,2023-04-25 15:00:00,330.3,332.7,329.8,332.4,28711.593,0.036703,-0.063019,0.099722,332.4,NaN,1
869,2023-04-25 01:00:00,331.1,332.4,331.1,331.6,15561.030,0.310334,0.308192,0.002142,331.6,NaN,1
863,2023-04-24 19:00:00,331.7,332.2,331.5,332.0,10528.637,0.309169,0.264865,0.044304,332.0,NaN,1
856,2023-04-24 12:00:00,331.2,332.5,331.1,332.3,21116.984,0.291411,0.269337,0.022075,332.3,NaN,1
844,2023-04-24 00:00:00,330.6,332.7,329.4,332.4,27088.801,0.429767,0.393934,0.035833,332.4,NaN,1
801,2023-04-22 05:00:00,323.4,324.1,323.1,323.7,10961.245,-0.321082,-0.396489,0.075407,323.7,NaN,1
773,2023-04-21 01:00:00,319.2,319.6,318.0,318.4,9152.925,-2.558603,-2.614090,0.055487,318.4,NaN,1
748,2023-04-20 00:00:00,322.5,325.2,322.1,324.9,19136.496,-3.859916,-3.900668,0.040751,324.9,NaN,1
705,2023-04-18 05:00:00,341.0,345.0,340.8,344.2,39669.262,-0.362821,-0.569656,0.206836,344.2,NaN,1
662,2023-04-16 10:00:00,332.9,334.5,332.7,334.4,13081.127,0.691336,0.688986,0.002350,334.4,NaN,1
635,2023-04-15 07:00:00,329.2,330.9,329.0,330.6,17254.077,0.365233,0.349896,0.015337,330.6,NaN,1
570,2023-04-12 14:00:00,319.4,321.8,319.3,320.6,23057.028,-1.085270,-1.090970,0.005700,320.6,NaN,1
525,2023-04-10 17:00:00,314.2,315.2,314.0,314.1,28490.003,0.422426,0.354907,0.067518,314.1,NaN,1
497,2023-04-09 13:00:00,310.9,311.0,310.2,310.7,7560.903,-0.251680,-0.267704,0.016024,310.7,NaN,1
451,2023-04-07 15:00:00,310.7,311.3,310.6,311.0,4590.464,-0.511615,-0.517738,0.006123,311.0,NaN,1
436,2023-04-07 00:00:00,312.3,312.8,311.9,312.7,8803.171,-0.158547,-0.182864,0.024317,312.7,NaN,1
431,2023-04-06 19:00:00,312.4,313.0,312.3,312.7,3914.461,-0.166201,-0.182709,0.016508,312.7,NaN,1
429,2023-04-06 17:00:00,312.8,313.0,312.5,312.8,4744.282,-0.174221,-0.186339,0.012118,312.8,NaN,1
366,2023-04-04 02:00:00,308.4,310.0,308.2,309.3,9810.207,-1.089314,-1.157181,0.067867,309.3,NaN,1
358,2023-04-03 18:00:00,309.5,312.1,308.6,311.7,23658.456,-0.726567,-0.734071,0.007505,311.7,NaN,1
348,2023-04-03 08:00:00,311.0,313.8,310.9,313.4,17343.988,-0.942005,-1.010852,0.068848,313.4,NaN,1
340,2023-04-03 00:00:00,313.8,314.1,312.9,313.5,5541.444,-0.512054,-0.512614,0.000560,313.5,NaN,1
312,2023-04-01 20:00:00,314.5,315.5,314.3,314.4,5992.063,-0.511767,-0.526573,0.014806,314.4,NaN,1
294,2023-04-01 02:00:00,317.6,319.0,316.6,317.2,12379.691,0.248255,0.244895,0.003360,317.2,NaN,1
281,2023-03-31 13:00:00,316.8,319.3,316.5,318.2,20144.788,0.311432,0.202443,0.108989,318.2,NaN,1
264,2023-03-30 20:00:00,316.1,317.4,315.6,317.1,12212.906,0.294395,0.262933,0.031463,317.1,NaN,1
252,2023-03-30 08:00:00,315.5,317.3,315.1,316.7,32384.204,-0.059911,-0.118003,0.058092,316.7,NaN,1
201,2023-03-28 05:00:00,308.6,310.3,308.5,310.2,14516.056,-4.033382,-4.239364,0.205982,310.2,NaN,1
149,2023-03-26 01:00:00,323.0,323.9,322.7,323.7,3165.743,-0.230957,-0.309213,0.078256,323.7,NaN,1
123,2023-03-24 23:00:00,321.8,322.5,321.5,322.1,7843.939,-1.340251,-1.372665,0.032414,322.1,NaN,1
82,2023-03-23 05:00:00,320.6,323.1,320.4,322.8,15601.052,-3.059316,-3.260676,0.201360,322.8,NaN,1
57,2023-03-22 04:00:00,335.3,337.8,335.1,337.3,21228.852,0.050111,0.041143,0.008968,337.3,NaN,1
40,2023-03-21 11:00:00,335.0,335.0,334.1,334.9,11143.827,-0.932596,-1.078088,0.145492,334.9,NaN,1
14,2023-03-20 09:00:00,337.6,338.2,335.9,337.4,20436.360,-0.961057,-1.074610,0.113553,337.4,NaN,1