In [109]:
import pandas as pd
from binance.client import Client
import ccxt
import config

client = Client(config.api_key, config.api_secret)
# Create Binance client instance
exchange = ccxt.binance({
    'apiKey': config.api_key,
    'secret': config.api_secret,
})

In [4]:
# barcha balanslarni korsatadi
info = client.get_account()
balans = info['balances']
for x in balans:
    if float(x['free']) > 0:
        print(x)

{'asset': 'BTC', 'free': '0.00000480', 'locked': '0.00000000'}
{'asset': 'LTC', 'free': '0.00062300', 'locked': '0.00000000'}
{'asset': 'ETH', 'free': '0.00004240', 'locked': '0.00000000'}
{'asset': 'USDT', 'free': '100.38534268', 'locked': '0.00000000'}
{'asset': 'TRX', 'free': '0.08650000', 'locked': '0.00000000'}
{'asset': 'ETC', 'free': '175.02076195', 'locked': '0.00000000'}
{'asset': 'XRP', 'free': '0.74500000', 'locked': '0.00000000'}
{'asset': 'XLM', 'free': '0.68900000', 'locked': '0.00000000'}
{'asset': 'ZIL', 'free': '0.03670000', 'locked': '0.00000000'}
{'asset': 'SOL', 'free': '0.00264000', 'locked': '0.00000000'}
{'asset': 'LINA', 'free': '0.45077000', 'locked': '0.00000000'}
{'asset': 'SHIB', 'free': '0.24', 'locked': '0.00'}
{'asset': 'LUNC', 'free': '0.00848000', 'locked': '0.00000000'}
{'asset': 'ETHW', 'free': '0.00006970', 'locked': '0.00000000'}

In [123]:
balance = client.get_asset_balance(asset='USDT')
balance # USDT ga tegishgli balansni korsatadi

{'asset': 'USDT', 'free': '100.38534268', 'locked': '0.00000000'}

In [103]:
# Get latest bitcoin price
btc_price = client.get_symbol_ticker(symbol="BTCUSDT")

# Print the price
print("Bitcoin price: ", btc_price['price'])

Bitcoin price:  29016.69000000

In [117]:
# Get OHLCV (Open-High-Low-Close-Volume) data for BTC/USDT
ohlcv = exchange.fetch_ohlcv('BTC/USDT', '1h')

# Convert data to pandas DataFrame
df = pd.DataFrame(ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Convert timestamp to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

# Set timestamp as index
df.set_index('timestamp', inplace=True)

# Print DataFrame
df

df.close.values[-1] # oxirgi narx

                         open      high       low     close      volume
timestamp
2023-04-06 17:00:00  28065.15  28084.18  28014.99  28041.40  1229.48840
2023-04-06 18:00:00  28041.41  28094.41  27954.06  27963.35  1205.25894
2023-04-06 19:00:00  27963.34  28056.67  27950.90  28017.77  1091.38706
2023-04-06 20:00:00  28017.77  28121.87  27966.00  27975.85  1404.21402
2023-04-06 21:00:00  27975.85  28052.80  27957.04  27989.16   875.15697
...                       ...       ...       ...       ...         ...
2023-04-27 08:00:00  28893.84  29094.75  28780.45  28955.43  3333.79914
2023-04-27 09:00:00  28955.43  29035.08  28870.00  28931.71  2139.13542
2023-04-27 10:00:00  28931.71  29035.91  28890.00  28990.77  2115.38753
2023-04-27 11:00:00  28990.76  29139.85  28882.00  28934.21  3495.85771
2023-04-27 12:00:00  28934.21  28980.00  28930.70  28977.28   315.60133

[500 rows x 5 columns]

28977.28